
   {# ===================== ABOUT SECTION ===================== #}
   <div class="container-fluid py-6">
    <div class="container">
      <div class="row g-5 align-items-center">
        
        <div class="col-lg-6 wow bounceInUp" data-wow-delay="0.3s">
          <h1 class="display-5 mb-4 text-secondary">{{ about.heading }}</h1>
          <p class="mb-4">{{ about.description }}</p>
        </div>
        <div class="col-lg-6 wow bounceInUp flex-box" data-wow-delay="0.1s" >
          <img src="/assets/img/davinci-award.png" class="img-fluid rounded" alt="{{ about.imageAlt }}" style="min-height:400px;">
        </div>
      </div>
    </div>
  </div>

