 {# ===================== FOOTER SECTION ===================== #}
 <div class="container-fluid footer pt-6 mt-6 mb-0 bg-light wow bounceInUp" data-wow-delay="0.1s">
  <div class="container">
      <div class="row d-flex justify-content-center " style="gap: 50px;">
        <div class="footer-brand text-center" style="width: max-content;position: relative !important;">
            <div class="text-dark fs-1" >{{ footer.brand }}</div>
            <p class="text-dark " style="position: absolute;left: 50%;bottom: -30px;transform: translate(-50%, 0);width: max-content;">{{ footer.subtext}}</p>
        </div>
        <div class="col-lg-12 col-md-6">
            <div class="footer-item">
                <div class="d-flex flex-row align-items-center justify-content-center ">
                    {% for link in footer.quickLinks.links %}
                    <a class="text-body mb-3 mx-3" href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="underline" style="width: 100%; height: 1px;background:#E4E7EC;"></div>
          <div class="col-lg-12 col-md-6">
              <div class="footer-item d-flex justify-content-between">
                  <p class="lh-lg mb-4" style="color: #667085;"> {{ footer.copyrights}}</p>
                  <div class="footer-icon d-flex">
                      {% for social in footer.socials %}
                      <a class="btn btn-sm-square me-2 rounded-circle" href="{{ social.url }}" style="background-color: #667085;color: white;">
                          <i class="{{ social.icon }}"></i>
                      </a>
                      {% endfor %}
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</div>